    body{
        height: 100vh;
        background:url(korobka-s-cvetami-1.jpg) no-repeat center/cover;
        /* background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(173, 0, 255, 1) 0%, rgba(195, 0, 177, 1) 8%, rgba(206, 0, 244, 1) 48%, rgba(233, 17, 17, 1) 68%, rgba(249, 250, 34, 1) 100%, rgba(239, 240, 33, 1) 100%, rgba(238, 239, 33, 1) 100%, rgba(228, 229, 32, 1) 100%, rgba(0, 0, 0, 1) 100%, rgba(192, 0, 52, 1) 100%); */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
        background-color: purple;
        max-width: 300px;
        text-align: center;
        border-radius: 10%;
       
    }
    .card-header, .card-foother{
        color: white;
        padding: 20px;
    }
    .card-body{
        background-color: white;
    }
    button{
        padding: 10px;
        border: none;
        cursor: pointer;
    }
    button:hover{
        background-color: pink;
    }